.markdownContent {
  font-size: 15px;
}
.markdownContent > *:first-child {
  margin-top: 0 !important;
}
.markdownContent-headingEnabled h1,
.markdownContent-headingEnabled h2,
.markdownContent-headingEnabled h3,
.markdownContent-headingEnabled h4,
.markdownContent-headingEnabled h5,
.markdownContent-headingEnabled h6 {
  position: relative;
}
.markdownContent-headingEnabled h1:hover .fa.fa-link,
.markdownContent-headingEnabled h1:hover .icon-link,
.markdownContent-headingEnabled h2:hover .fa.fa-link,
.markdownContent-headingEnabled h2:hover .icon-link,
.markdownContent-headingEnabled h3:hover .fa.fa-link,
.markdownContent-headingEnabled h3:hover .icon-link,
.markdownContent-headingEnabled h4:hover .fa.fa-link,
.markdownContent-headingEnabled h4:hover .icon-link,
.markdownContent-headingEnabled h5:hover .fa.fa-link,
.markdownContent-headingEnabled h5:hover .icon-link,
.markdownContent-headingEnabled h6:hover .fa.fa-link,
.markdownContent-headingEnabled h6:hover .icon-link {
  display: inline-block;
}
.markdownContent-headingEnabled h1 .fa.fa-link:hover,
.markdownContent-headingEnabled h1 .icon-link:hover,
.markdownContent-headingEnabled h2 .fa.fa-link:hover,
.markdownContent-headingEnabled h2 .icon-link:hover,
.markdownContent-headingEnabled h3 .fa.fa-link:hover,
.markdownContent-headingEnabled h3 .icon-link:hover,
.markdownContent-headingEnabled h4 .fa.fa-link:hover,
.markdownContent-headingEnabled h4 .icon-link:hover,
.markdownContent-headingEnabled h5 .fa.fa-link:hover,
.markdownContent-headingEnabled h5 .icon-link:hover,
.markdownContent-headingEnabled h6 .fa.fa-link:hover,
.markdownContent-headingEnabled h6 .icon-link:hover {
  color: #428bca;
  text-decoration: none;
}
.markdownContent blockquote {
  color: #555;
  font-size: 1em;
  border-left: solid 4px #ddd;
  padding: .8em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.8em;
}
.markdownContent blockquote > *:first-child {
  margin-top: 0;
}
.markdownContent blockquote h1,
.markdownContent blockquote h2,
.markdownContent blockquote h3,
.markdownContent blockquote h4,
.markdownContent blockquote h5,
.markdownContent blockquote h6 {
  color: #555555;
}
.markdownContent a {
  word-wrap: break-word;
  word-break: break-all;
}
.markdownContent hr {
  margin: 1em 0;
  border: 0;
  height: 2px;
  background-color: #cccccc;
}
.markdownContent em {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
  font-style: italic;
}
.markdownContent strong {
  font-weight: 900;
}
.markdownContent b {
  font-weight: 900;
}
.markdownContent ins {
  font-weight: 900;
}
.markdownContent del {
  text-decoration: line-through;
}
.markdownContent p {
  word-wrap: break-word;
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.7;
}
.markdownContent img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  max-width: 100%;
}
.markdownContent dl {
  margin: 1em 0;
}
.markdownContent dl dd {
  margin-left: 2em;
}
.markdownContent table {
  margin: 1em 0;
  border-left: solid 1px #d9d9d9;
  border-top: solid 1px #d9d9d9;
}
.markdownContent td,
.markdownContent th {
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 8px 10px;
  word-wrap: break-word;
}
.markdownContent thead td,
.markdownContent th {
  font-weight: 900;
  background-color: #ffffff;
}
.markdownContent tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
.markdownContent li p:first-child {
  margin: 0;
}
.markdownContent ol,
.markdownContent ul {
  line-height: 1.7;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.5em;
}
.markdownContent ol > li {
  list-style-type: decimal;
}
.markdownContent ul > li {
  list-style-type: disc;
}
.markdownContent li > ol,
.markdownContent li > ul {
  margin-bottom: 0;
  margin-top: 0;
}
.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4,
.markdownContent h5,
.markdownContent h6 {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 1.35em 0 0.7em;
}
.markdownContent h1 {
  padding-bottom: .3em;
  line-height: 1.2;
  border-bottom: 2px solid #dedede;
  font-size: 2.1em;
}
.markdownContent h1 .emoji {
  width: 1.05em;
  height: 1.05em;
  vertical-align: top;
}
.markdownContent h2 {
  padding-bottom: .3em;
  line-height: 1.225;
  border-bottom: 1px dotted #ccc;
  font-size: 1.8em;
}
.markdownContent h2 .emoji {
  width: 1.08em;
  height: 1.08em;
  vertical-align: top;
}
.markdownContent h3 {
  font-size: 1.5em;
  line-height: 1.43;
  margin-top: 1.4em;
}
.markdownContent h4 {
  margin-top: 1.3em;
  font-size: 1.4em;
}
.markdownContent h5 {
  margin-top: 1.5em;
  font-size: 1em;
}
.markdownContent h6 {
  margin-top: 1.5em;
  font-size: 1em;
  color: #777777;
}
.markdownContent .code-frame {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 1em 0;
  background-color: #f7f7f7;
  line-height: 0;
}
.markdownContent .code-frame pre {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  margin: 0;
  padding: 8px 15px;
  line-height: 18px;
  background-color: #f7f7f7;
  white-space: pre-wrap;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdownContent .code-lang {
  color: #555;
  display: inline-block;
  padding: 3px 6px;
  margin: 0;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 12px;
  font-weight: 400;
}
.markdownContent .emoji {
  width: 20px;
  height: 20px;
}
.markdownContent .fa.fa-link,
.markdownContent .icon-link {
  display: none;
  position: absolute;
  top: 50%;
  left: -28px;
  margin-top: -18px;
  padding: 10px 5px 10px 10px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
.markdownContent .fragment {
  position: relative;
  top: -10px;
  display: block;
}
.markdownContent .highlight {
  background: #ffffff;
}
.markdownContent .highlight .c {
  color: #998;
  font-style: italic;
}
.markdownContent .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.markdownContent .highlight .k {
  font-weight: bold;
}
.markdownContent .highlight .o {
  font-weight: bold;
}
.markdownContent .highlight .cm {
  color: #998;
  font-style: italic;
}
.markdownContent .highlight .cp {
  color: #999;
  font-weight: bold;
}
.markdownContent .highlight .c1 {
  color: #998;
  font-style: italic;
}
.markdownContent .highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.markdownContent .highlight .gd {
  color: #000;
  background-color: #ffdddd;
}
.markdownContent .highlight .gd .x {
  color: #000;
  background-color: #ffaaaa;
}
.markdownContent .highlight .ge {
  font-style: italic;
}
.markdownContent .highlight .gr {
  color: #aa0000;
}
.markdownContent .highlight .gh {
  color: #999999;
}
.markdownContent .highlight .gi {
  color: #000;
  background-color: #ddffdd;
}
.markdownContent .highlight .gi .x {
  color: #000;
  background-color: #aaffaa;
}
.markdownContent .highlight .go {
  color: #888888;
}
.markdownContent .highlight .gp {
  color: #555555;
}
.markdownContent .highlight .gs {
  font-weight: bold;
}
.markdownContent .highlight .gu {
  color: #800080;
  font-weight: bold;
}
.markdownContent .highlight .gt {
  color: #aa0000;
}
.markdownContent .highlight .kc {
  font-weight: bold;
}
.markdownContent .highlight .kd {
  font-weight: bold;
}
.markdownContent .highlight .kn {
  font-weight: bold;
}
.markdownContent .highlight .kp {
  font-weight: bold;
}
.markdownContent .highlight .kr {
  font-weight: bold;
}
.markdownContent .highlight .kt {
  color: #458;
  font-weight: bold;
}
.markdownContent .highlight .m {
  color: #009999;
}
.markdownContent .highlight .s {
  color: #dd1144;
}
.markdownContent .highlight .n {
  color: #333333;
}
.markdownContent .highlight .na {
  color: #008080;
}
.markdownContent .highlight .nb {
  color: #0086b3;
}
.markdownContent .highlight .nc {
  color: #458;
  font-weight: bold;
}
.markdownContent .highlight .no {
  color: #008080;
}
.markdownContent .highlight .ni {
  color: #800080;
}
.markdownContent .highlight .ne {
  color: #900;
  font-weight: bold;
}
.markdownContent .highlight .nf {
  color: #900;
  font-weight: bold;
}
.markdownContent .highlight .nn {
  color: #555555;
}
.markdownContent .highlight .nt {
  color: #000080;
}
.markdownContent .highlight .nv {
  color: #008080;
}
.markdownContent .highlight .ow {
  font-weight: bold;
}
.markdownContent .highlight .w {
  color: #bbbbbb;
}
.markdownContent .highlight .mf {
  color: #009999;
}
.markdownContent .highlight .mh {
  color: #009999;
}
.markdownContent .highlight .mi {
  color: #009999;
}
.markdownContent .highlight .mo {
  color: #009999;
}
.markdownContent .highlight .sb {
  color: #dd1144;
}
.markdownContent .highlight .sc {
  color: #dd1144;
}
.markdownContent .highlight .sd {
  color: #dd1144;
}
.markdownContent .highlight .s2 {
  color: #dd1144;
}
.markdownContent .highlight .se {
  color: #dd1144;
}
.markdownContent .highlight .sh {
  color: #dd1144;
}
.markdownContent .highlight .si {
  color: #dd1144;
}
.markdownContent .highlight .sx {
  color: #dd1144;
}
.markdownContent .highlight .sr {
  color: #009926;
}
.markdownContent .highlight .s1 {
  color: #dd1144;
}
.markdownContent .highlight .ss {
  color: #990073;
}
.markdownContent .highlight .bp {
  color: #999999;
}
.markdownContent .highlight .vc {
  color: #008080;
}
.markdownContent .highlight .vg {
  color: #008080;
}
.markdownContent .highlight .vi {
  color: #008080;
}
.markdownContent .highlight .il {
  color: #009999;
}
.markdownContent .highlight .gc {
  color: #999;
  background-color: #eaf2f5;
}
.markdownContent .MathJax img,
.markdownContent .MathJax_Display img {
  border: 0 !important;
}
.markdownContent .parenthesis {
  padding-left: 0.5em;
}
.markdownContent .parenthesis li {
  list-style-type: 0;
}
.markdownContent .parenthesis li span {
  margin-left: -1.5em;
  margin-right: 0.5em;
}
.markdownContent .task-list-item {
  list-style-type: none;
}
.markdownContent .task-list-item-checkbox {
  margin: 0.4em 0.5em 0 -1.3em;
}
.markdownContent .task-list-item-checkbox[disabled] {
  cursor: default;
}
